* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Sora',sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap');

html,body {
  height: 100%;
}

header {
  min-height: 100%;
  background-color: #111012;

  nav {
    height: 80px;

    input {
      border: none;
      outline: none;
      transition: .3;
      background-color: rgb(42, 39, 44);
      padding: 9px 10px;
      color: white;
      &:focus {
        background-color: rgb(49, 47, 52);
      }
    }

    button {
      padding: 9px 14px;
      border: none;
      outline: none;
      background-color: rgb(132, 0, 255);
      color: white;
      transition: .3s;
      &:hover {
        box-shadow: 0 0 16px rgba(132, 0, 255, 0.484);
      }

      img {
        width: 20px;
      }
    }
  }

  main {
    div {
      width: 100%;
      max-width: 500px;
      border-radius: 10px;
      background-color: rgb(46, 44, 49);
      transition: .5s;
      height: 0;
    }
  }
}